<section class=" section2">
    <div>
        <div class="row">
            <div class="large-4 medium-4 small-6 columns blockResultat"
                 *ngFor="let rencontre of rencontres;  let i=index">
                <a routerLink="/resultat">
                    <div *ngIf=" i<3">
                        <div *ngIf="rencontre.rencontre.equipes[0].joueurs.length > 1; else elseBlock">
                            <div class="imgJoueursBy4">
                                <div class="imgJoueursEquipe1">
                                    <img src="{{rencontre.rencontre.equipes[0].joueurs[0].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[0].joueurs[0].nom}}">
                                    <img src="{{rencontre.rencontre.equipes[0].joueurs[1].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[0].joueurs[1].nom}}">
                                </div>
                                <div class="separationImg"></div>
                                <div class="imgJoueursEquipe2">
                                    <img src="{{rencontre.rencontre.equipes[1].joueurs[0].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[0].joueurs[0].nom}}">
                                    <img src="{{rencontre.rencontre.equipes[1].joueurs[1].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[0].joueurs[1].nom}}">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="captionResultat">
                                <h2> Résultat </h2>
                                <h3>
                                <span class="textBold">
                                    {{rencontre.rencontre.equipes[0].joueurs[0].nom}}
                                </span>
                                    &
                                    <span class="textBold">
                                    {{rencontre.rencontre.equipes[0].joueurs[1].nom}}
                                </span>
                                </h3>
                                <h3>vs</h3>
                                <h3>
                                <span class="textBold">
                                    {{rencontre.rencontre.equipes[1].joueurs[0].nom}}
                                </span>
                                    &
                                    <span class="textBold">
                                    {{rencontre.rencontre.equipes[1].joueurs[1].nom}}
                                </span>
                                </h3>
                            </div>
                        </div>

                        <!--Séparation-->

                        <ng-template #elseBlock>
                            <div class="imgJoueursBy2">
                                <div class="imgJoueursEquipe1">
                                    <img src="{{rencontre.rencontre.equipes[0].joueurs[0].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[0].joueurs[0].nom}}">
                                </div>
                                <div class="separationImg"></div>
                                <div class="imgJoueursEquipe2">
                                    <img src="{{rencontre.rencontre.equipes[1].joueurs[0].url_image}}"
                                         alt="image joueur {{rencontre.rencontre.equipes[1].joueurs[0].nom}}">
                                </div>
                                <div style="clear: both"></div>

                            </div>
                            <div class="captionResultat">
                                <h2> Résultat </h2>
                                <h3>
                        <span>
                            <span class="textBold"> {{rencontre.rencontre.equipes[0].joueurs[0].nom}}</span>
                         </span>
                                </h3>
                                <h3>vs</h3>
                                <h3>
                        <span>
                            <span class="textBold"> {{rencontre.rencontre.equipes[1].joueurs[0].nom}}</span>
                         </span>
                                </h3>
                            </div>
                        </ng-template>

                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="row section3">
    <div class="large-4 medium-6 small-12 columns">
        <h1>Prochains matchs</h1>


        <div *ngFor="let rencontre of rencontres;let  i = index;">
            <div class="row prochainMatch" *ngIf="i <4">
                <div style="display: flex;align-items: center;">
                    <div class="dateProchainMatch">
                        <!-- TODO delete si besoin -->
                        <span class="jourProchainMatch">
                            {{splitDate(rencontre.rencontre.date_debut,' ', 1)}}
                        </span>
                        <span class="moisProchainMatch">
                            {{splitDate(rencontre.rencontre.date_debut,' ', 2)}}
                        </span>
                    </div>
                    <div class="joueurProchainMatch"
                         *ngIf="rencontre.rencontre.equipes[0].joueurs.length > 1; else elseBlock">
                        {{rencontre.rencontre.equipes[0].joueurs[0].nom}}
                        <span style="font-weight: 100">&</span>
                        {{rencontre.rencontre.equipes[0].joueurs[1].nom}}
                        <span style="font-weight: 100">vs</span>
                        {{rencontre.rencontre.equipes[1].joueurs[0].nom}}
                        <span style="font-weight: 100">&</span>
                        {{rencontre.rencontre.equipes[1].joueurs[1].nom}}
                    </div>
                    <ng-template #elseBlock>
                        <div class="joueurProchainMatch float-left">
                            {{rencontre.rencontre.equipes[0].joueurs[0].nom}}
                            <span style="font-weight: 100">vs</span>
                            {{rencontre.rencontre.equipes[1].joueurs[0].nom}}
                        </div>
                    </ng-template>
                </div>

                <div class="txtProchainMatch">

                    <div class="text-center">
                        <div class="horaireProchainMatch">
                            <span>
                                {{rencontre.rencontre.heure_debut}},
                                {{rencontre.rencontre.tournoi.libelle}} -
                                {{getPaysByTournoiId(rencontre.rencontre.tournoi.id)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="articles" class="large-8 medium-6 small-12 columns">

        <div>
            <div class="featuredArticle row">
                <a routerLink="/article/{{articles[0].id}}">
                    <figure class="snip1579">
                        <img src="{{articles[0].url_image}}" alt="mon image featured"/>
                        <figcaption>
                            <h3></h3>
                            <h5>{{articles[0].titre}}</h5>
                            <blockquote>
                                <p>{{articles[0].corps | slice: 0:450}}.....</p>
                            </blockquote>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </a>
            </div>
            <div class="row article">
                <div class="large-4 medium-4 small-4 imgArticle">
                    <a routerLink="/article/{{articles[1].id}}">
                        <img src="{{articles[1].url_image}}" alt="article 1">
                    </a>
                </div>
                <div class="large-8 medium-8 small-8 columns descriptionArticle">
                    <a routerLink="/article/{{articles[1].id}}">
                        <h3>{{articles[1].titre}}</h3>
                        <h5>{{articles[1].corps | slice: 0:150}}</h5>
                    </a>
                </div>

            </div>
            <div class="row article">

                <div class="large-4 medium-4 small-4">
                    <a routerLink="/article/{{articles[2].id}}">
                        <img src="{{articles[2].url_image}}" alt="article 1">
                    </a>
                </div>
                <div class="large-8 medium-8 small-8 columns">
                    <a routerLink="/article/{{articles[2].id}}">
                        <h3>{{articles[2].titre}}</h3>
                        <h5>{{articles[2].corps | slice: 0:150}}</h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="container-full section4">
    <div class="row">
        <div class="blockContact small-6 medium-6 large-6 ">
            <div class="row">
                <div class="small-12 medium-12 large-12 text-center">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-12">
                    <form id="contact-form" class="form" action="#" method="POST" role="form">
                        <div class="form-group">
                            <label class="form-label" for="name">Votre nom</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom"
                                   tabindex="1" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="email">Votre Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Votre Email"
                                   tabindex="2" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="subject">Sujet</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet"
                                   tabindex="3">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="message">Message</label>
                            <textarea rows="5" cols="50" name="message" class="form-control" id="message"
                                      placeholder="Votre message..." tabindex="4" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-start-order">Envoyer le message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="small-6 medium-6 large-6 ">
            <div class="animTennis">
                <div class="wrapper">
                    <div class="court1"></div>
                    <div class="court2"></div>
                    <div class="ball"></div>
                    <div class="player1"></div>
                    <div class="player2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
