.resultat {
    width: 100%;
    display: inline-flex;
    margin: 20px;
    background: white;
    padding: 20px;
    bordr-left: 10px solid #232a35;
}

.vignetteTitreJoueur {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    background: #232a35;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: white;
}

.imgVignetteJoueur img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.imgJoueursEquipe {
    float: left;
    width: 75px;
    height: 150px;
    object-fit: cover;
}

.imgVignetteEquipe {
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

.nomTournoiRencontre {
    font-size: 0.6rem;
}

.separateurResultat {
    border-top: 3px solid black;
    margin: 10px 0;
}

.descriptionSet {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2px 0;
    /* background: black; */
    /* color: white; */
}

.nomDescriptionSet {
    padding-left: 5px;
}

.nomJoueurSet {
    padding-left: 5px;
    font-size: 1.1rem;
}

.ligneSet {
    padding: 5px 0;
}

button {
    cursor: pointer;
    margin: auto;
    display: flex;
    background: #ffeb3b;
    padding: 10px 20px;
    color: #232a35;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #ffeb3b;
}

button:hover {
    transition: all 0.3s;
    color: white;
    background: #232a35;
    border: none;
}

.heure {
    float: left;
}

.containerAlert {
    max-height: 500px;
    float: left;
    width: 50%;
    margin-bottom: 30px;
    overflow-y: auto;
}

.infoMatch, .infoAlert {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.nomEquipe {
    float: right;
}

.descriptionInfo {
    padding: 20px;
    clear: both;
    background: white;
}

.timeline {
    padding: 5px 15px;
    float: left;
    width: 100%;
    color: #232a35;
    font-weight: bold;
}

.infoMatch .timeline {
    background: #ffeb3b;
}

.infoMatch .descriptionInfo {
    border-left: 5px solid #ffeb3b;
}

.infoAlert .timeline {
    background: #E91E63;
    color: white;
}

.infoAlert .descriptionInfo {
    border-left: 5px solid #E91E63;
}

.iconAlert {
    width: 30px;
    margin: 10px 0;
}




